langchain
langchain-groq
langgraph
jupyter
python-dotenv
matplotlib
scipy
openpyxl
crewai
crewai-tools    
langgraph-cli[inmem]
langchain_community
langchain_openai
langchain-experimental

# Excel automation
pywin32
XlsxWriter