langchain
langchain-groq
langgraph
jupyter
python-dotenv
matplotlib
scipy
openpyxl
crewai
crewai-tools    
langgraph-cli[inmem]
langchain_community
langchain_openai
langchain-experimental

#SyntheticDataGeneration
seaborn
pymc-marketing
# conda install -c conda-forge gxx
# Excel automation
pywin32
XlsxWriter

ollama
tabulate
rich
textual